body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-tvTable{
    
}

.btn-file input[type=file] {
    
    width: 50px;
    height: 0px;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-file{
    position: relative;
    overflow: hidden;
    margin-left: 210px;
}

.img-view {
    margin: 20px auto;
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
}

.li-search {
    margin-top: 8px;
    float: right;
    width: 360px;
}

.dropdown-inline {
    display: inline-block;
}

.dropdown-inline button {
    display: inline-block;
}

ul.dropdown-lr {
    width: 300px;
}

.dropdown {
    line-height: 20px;
}


.dropdown:hover {
    border-bottom: none !important;
}

.dropdown-toggle:visited {
    background-color: #383F4B !important;
}

.tv-column {
    margin: 30px 0;
    font-size: 14px;
    height: 230px;
}

.admin-buttons {
    height: 60px;
    width: 100%;
}

.tv-name-link {
    
}

.tv-price {
    display: block;
    font-size: 13px;
    color: white;
    text-align: center;
    line-height: 30px;
    margin: 85px auto 10px;
    width: 120px;
    height: 30px;
    background: #3E8AC4;
    border: 1px solid #397da6;
    border-radius: 2px;
}

.price-col {
    height: 100%;
    text-align: center;
}


.img-main {
    transition: all 0.4s ease;
    margin: 0 auto;
    max-width: 350px;
    max-height: 220px;
    overflow: hidden;
}

.img-main:active {
    transform: scale(0.9);
}

.img-main:hover {
    opacity: 0.9;
}