@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TV Catalog</h1>
    <p class="lead">ASP.NET MVC Application</p>
    <p>@Html.ActionLink("Catalog", "Index", "Tv", null, new { @class = "btn btn-primary btn-lg"})</p>
</div>

