@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TV Catalog</h1>
    <p class="lead">ASP.NET MVC Application</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

